.btn-search {
    animation: flyin-back .5s ease forwards;
    top: 21%;
    right: 0;
    border-radius: 5%;
    position: absolute;
    opacity: 1;
    filter: blur(0);
    padding: 2%;
}



@keyframes flyin-back {
    to {
        right: -10%;
        filter: blur(4px);
        opacity: 0;
    }
}

.btn-search-active {
    top: 21%;
    right: -10%;
    border-radius: 5%;
    position: absolute;
    animation: flyin 1.2s ease forwards;
    opacity: 0;
    filter: blur(4px);
    padding: 1.8%;
    border: 2px solid transparent;
}

@keyframes flyin {
   to { 
    right: 0;
    filter: blur(0);
    opacity: 1;
   }
}

.btn-search-active:focus {
    border: 2px solid white ;
}

.grid-with-films {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 4%;
    margin: 0 5rem;
    padding-bottom: 25rem;
    z-index: 1;
    height: 100%;
}

.blur-container {
    position: absolute;
    bottom: 0;
    height: 5rem;
    width: 100%;
    background: rgb(150,175,150);
    background: linear-gradient(0deg, rgba(150,175,150,1) 0%, rgba(0,0,0,1) 0%, rgba(105,105,105,0.8) 85%);
    z-index: 5;
    display: flex;
}

.img-film {
    display: block;
    transition: .3s ease-in-out;
}

.img-film:hover {
    transform: scale(1.2);
}

.film-card {
    overflow: hidden;
}

.title-film {
    margin: auto 0;
    z-index: 10;
    width: 100%;
}

.input-search {
    width: 100%;
}

.form-search {
    width: 40rem;
}

.watchlist {
    flex-direction: column;
}

.dot-loader {
    position: absolute;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
}


/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
    background-color: transparent;
    width: 400px;
    height: 225px;
    border: 1px solid #f1f1f1;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  
  /* Style the back side */
  .flip-card-back {
    background-color: #1c973a;
    color: white;
    transform: rotateY(180deg);
  }
  
  .button-add-watchlist {
    cursor: pointer;
  }

  @keyframes press-btn {
    80% {
        border: 40px solid white;
    }
    100% {
        border: none;
    }
  }

  @keyframes watchlist-change {
    10% {
        transform: translateX(20px);
    }
    40% {
        transform: translateX(-15px);
    }
    70% {
        transform: translateX(12px);
    }
    80% {
        transform: translatex(-8px);
    }
    90% {
        transform: translateX(5px);
    }
    100% {
        transform: none;
    }
  }

.img-watchlist {
    max-width: 100%;
}

.img-watchlist:hover + .on-img-hover-div {
    height: 100%;
    /* animation: img-on-hover .5s ease-in; */
}

/* @keyframes img-on-hover {
    100% {
        height: 100%;
    }
} */

.hover-container {
    width: 100%;
    height: 100%;
    background: transparent;
    position: absolute;
    bottom: 0;
}

.hover-container:hover .on-img-hover-div {
    height: 100%;
    transition-delay: .2s;
}

.on-img-hover-div {
    transition: all .75s ease-in-out;
    position: absolute;
    height: 0;
    width: 100%;
    bottom: 0;
    background: rgb(150,175,150);
    background: linear-gradient(0deg, rgba(150,175,150,1) 0%, rgba(0,0,0,1) 0%, rgba(105,105,105,0.8) 85%);
}

/* .nav-hover-block {
    display: none;
}

.nav-hover-flex {
    display: none;
}

.nav-container:hover .nav-hover-block {
    display: block;
}

.nav-container:hover .nav-hover-flex {
    display: flex;
} */